.container1{
    background-image: url("background.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container2{
    background-image: linear-gradient(blue red);
    height: 400px;
}